@import "../../theme";

#presentation-frame {
    width: 95%;
    margin-left: 2.5%;
    height: 75%
}

.lecture-label {
    cursor: pointer;
    &:hover {
        color: @fancy-color-2;
    }
}